@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
   padding: 0;
   margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #baf5c4;
}

h1{
    color: #fff;
    padding: 18px  0;
    text-align: center;
    font-size: 1.75rem;

    background-color: #0da308;
}
.container{
    display: flex;
    gap: 35px;
    padding: 30px;
}

.weather-input  input{
    width: 100%;
    height: 46px;
    outline: node;
    padding: 0 15px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 10px 0 20px 0;

}

.weather-input .separator{
   height: 1px;
   width: 100%;
   background:#bbb;
   margin: 20px 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.weather-input .separator::before{
content: "or";
color: #6c757d;
font-size: 1.2rem;
padding: 0 15px;
margin-top: -4px;

 }
.weather-input button{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #0da308;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;

}

.weather-input .location-btn{
    background-color: #6c757d ;
}
.weather-data{
    width: 100%;
}
.current-weather{
    color: #fff;
    padding: 20px 70px 20px 20px;
    background-color: #0da308;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.current-weather h2{
    font-size: 1.7rem;
}
.weather-data h4{
   margin-top: 12px;
   font-size: 1rem;
   font-weight: 500;
}
.current-weather .icon img{
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon h6{
   margin-top: -10px;
   text-transform: capitalize; 
}

.days-forecast h2{
  font-size: 1rem;
  margin: 20px 0;

}
.weather-card{
    display: flex;
    gap: 20px;
}


.weather-card .card{
    background-color:  #6c757d ;
    list-style: none;
    padding: 18px 16px;
    border-radius: 5px;
    color: #fff;
    width: calc(100%/5);
}

.weather-card .card img{
max-width: 70px;
margin: 5px 0 -12px 0;
}

@media(max-width:1400px){
 .weather-data .current-weather{
    padding: 20px;
 }
 .weather-card{
    flex-wrap: wrap;
 } 
 .weather-card .card{
    width: calc(100% /4 -15px);
 }  
}

@media(max-width:1200px){
    .weather-card .card{
        width: calc(100% /3 -15px);
     }    
}
@media(max-width:950px){
    .weather-input{
        width: 450px;
     }  
     .weather-card .card{
        width: calc(100% /2 -10px);
     }    
}

 
@media(max-width:750px){
    .container{
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input{
        width: 100%;
    }
}